body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 5em;
}

.title {
    display: flex;
    padding: 0 5em;
}


.title2 {
    font-size: 18px;
    color: #E5E7EB;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.quotetext {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.cta {
    background-color: #3882F6;
}

.cta1, .cta2 {
    color: #F9FAF8;
}

.cta1 {
    font-size: 18px;
}

.hero, .footer{
    background-color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
}

.footer {
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}