body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    max-width: 10em;
    max-height: 2em;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em;
}

.title {
    display: flex;
    padding: 2em 5em;
    flex-direction: row;
    margin-bottom: 10em;
    gap: 5em;
    justify-content: space-evenly;
    align-items: center;
}

.kessokubox {
    align-self: flex-end;
}


.title2 {
    font-size: 18px;
    color: #E5E7EB;
}

.kessokuband {
    max-width: 100%;
    border-radius: 30px;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.bandinfo {
    display: flex;
    flex-direction: column;
    padding: 0 5em;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
}

.bandmembers {
    border-radius: 100%;
    border-style: solid;
    border-color: #3882F6;
}

.bandbox {
    display: flex;
    gap: 5em;
}

.quotetext {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.ctabackground {
    background-color: white;
}

.cta {
    background-color: #3882F6;
    display: flex;
    margin: 5em 5em;
    padding: 3em;
    border-radius: 30px;
}

.cta1, .cta2 {
    color: #F9FAF8;
}

.cta1 {
    font-size: 18px;
}

.hero, .footer{
    background-color: #1F2937;
}

.quote {
    display: flex;
    flex-flow: row wrap;
    background-color: #E5E7EB;
    gap: 1em;
    padding: 8em 8em;
    justify-content: space-between;
    align-items: center;
}

.quoteauthor {
    align-self: center;
}

.footer {
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}